.top-navbar {
    background-color: #0d6efd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.top-navbar a {
    color: #ffffff;
    font-size: 1.1rem;
}

.top-navbar a:hover i {
    transform: scale(1.2);
    color: #004085
}

body {
    padding-top: 60px;
}

.top-navbar {
    font-size: 0.9rem;
}

.top-navbar a {
    text-decoration: none;
}

.top-navbar i {
    font-size: 1.2rem;
}

@media (max-width: 991.98px) {
    .top-navbar .row {
        flex-direction: column;
        text-align: center;
    }

    .top-navbar .col-lg-5,
    .top-navbar .col-lg-7 {
        width: 100%;
        margin-bottom: 0.5rem;
        justify-content: center !important;
        text-align: center !important;
    }

    .top-navbar .col-lg-5.d-flex {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .top-navbar .col-lg-7 span {
        display: block;
        margin-bottom: 5px;
    }
}

@media (max-width: 991.98px) {
    .hide-on-mobile {
        display: none !important;
    }
}

.yang-icon {
    font-size: 25px !important;
    margin-right: 290px;
    color: #ffffff;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

@keyframes moveHorizontally {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.moveHorizontally {
    animation: moveHorizontally 5s infinite linear;
}

.yang-icon:hover {
    animation-play-state: paused;
}

@media (max-width: 991.98px) {
    .yang-icon {
        margin-right: 0;
        font-size: 50px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .moveHorizontally {
        animation: moveHorizontally 5s infinite linear;
    }
}