html {
  overflow-x: hidden;
}

body {
  line-height: 1.7;
  color: #364d59 !important;
  font-weight: 300;
  font-size: 1rem;
  background: #fff;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
}

a {
  color: #2d9588;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 300;
  color: #364d59;
  font-family: "Playfair Display", serif;
}

.btn.btn-white {
  background: #fff;
  color: #43cc32;
}

.btn.btn-primary {
  padding: 12px 25px;
}

.opa-7 {
  color: rgba(255, 255, 255, 0.7) !important;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

.border-2 {
  border-width: 2px;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5);
}

.btn.btn-outline-white {
  border-color: #fff;
  background: transparent;
  color: #fff;
}

.btn.btn-outline-white:hover {
  background: #fff;
  border-color: #fff;
  color: #000;
}

.line-height-1 {
  line-height: 1 !important;
}

.bg-black {
  background: #000;
}


.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5);
}

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5);
}

.text-primary {
  color: #0d6efd !important;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.bg-primary {
  background-color: #0d6efd !important;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {

  .display-1,
  .display-3 {
    font-size: 3rem;
  }
}

.overlap-to-top {
  margin-top: -150px;
}


.top-bar {
  border-bottom: 1px solid #e9ecef !important;
}

.section-heading strong {
  font-weight: 700;
}

.img-wrap-1 img {
  max-width: 400px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -100px;
}

.spin-icon {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-style {
  font-size: 5rem;
  color: #0d6efd; 
}
